#![enable(implicit_some)]
(
	meta: (
		id: "Nd3GRs",
		name: "May2022",
		description: "shader",
		tags: [
			"shader",
		],
	),
	passes: {
		Common: (
			inputs: [
				None,
				None,
				None,
				None,
			],
		),
		BufferA: (
			inputs: [
				(
					asset: Misc(BufferA),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				(
					asset: Music(XTrackTure),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				None,
				None,
			],
		),
		BufferB: (
			inputs: [
				(
					asset: Cubemap(UffiziGalleryBlurred),
					sampler: Custom((
						filter: mipmap,
						wrap: clamp,
						vflip: false,
					)),
				),
				(
					asset: Music(XTrackTure),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				(
					asset: Misc(BufferA),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				(
					asset: Misc(BufferC),
					sampler: Custom((
						filter: linear,
						wrap: repeat,
						vflip: true,
					)),
				),
			],
		),
		BufferC: (
			inputs: [
				(
					asset: Misc(BufferC),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				(
					asset: Music(XTrackTure),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				(
					asset: Misc(BufferA),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				None,
			],
		),
		Image: (
			inputs: [
				(
					asset: Misc(BufferA),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				(
					asset: Music(XTrackTure),
					sampler: Custom((
						filter: nearest,
						wrap: clamp,
						vflip: true,
					)),
				),
				(
					asset: Misc(BufferB),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
				(
					asset: Misc(BufferC),
					sampler: Custom((
						filter: linear,
						wrap: clamp,
						vflip: true,
					)),
				),
			],
		),
	},
)